@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-sunlight: #02070d;
    --color-primary: #8faece;

    background-color: var(--color-sunlight);
  }

  body {
    @apply bg-sunlight;
    transition: background-color 0.7s ease, color 0.7s ease;
  }

  #root {
    height: 100vh;
    height: 100svh;
  }

  .sunrise {
    --color-sunlight: #ffd9bd;
    --color-primary: #983c25;
  }

  .daylight {
    --color-sunlight: #fef0ca;
    --color-primary: #a77355;
  }

  .sunset {
    --color-sunlight: #ffbaba;
    --color-primary: #2f4858;
  }

  .twilight {
    --color-sunlight: #024873;
    --color-primary: #b0dbff;
  }

  .night {
    --color-sunlight: #02070d;
    --color-primary: #8faece;
  }
}
